[submodule "src/plugins/content"]
	path = src/plugins/content
	url = https://github.com/ThinkHub-io/access-plugin-content.git
[submodule "src/plugins/training"]
	path = src/plugins/training
	url = https://github.com/ThinkHub-io/access-plugin-training.git
[submodule "src/plugins/quizzes"]
	path = src/plugins/quizzes
	url = https://github.com/ThinkHub-io/access-plugin-quizzes.git
[submodule "src/plugins/safety-folder"]
	path = src/plugins/safety-folder
	url = https://github.com/ThinkHub-io/access-plugin-safety-folder.git
